!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title
      Kenia Valladarez

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{"data-offset" => "50", "data-spy" => "scroll", "data-target" => "#navbar"}
    -# %a#return-to-top{:href => "javascript:"}
    -#   %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: "navbar-brand" do
            .navbar-brand-text
              Kenia Valladarez
          -# %a.navbar-brand{:href => "http://Kenia.altervista.org", :target => "_blank", :title => "my Website"}
            -# %img{:alt => "Kenia's Logo", :src => "http://Kenia.altervista.org/ext/logo.png"}/
        / Collect the nav links, forms, and other content for toggling
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.nav-bar-icon.hidden
              %a.hash{:href => "#page-top"}
            %li.nav-bar-icon.page-scroll
              %a.hash{:href => "#home"}
                -# %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}
                %span.nav-text-link
                  Home
            %li.nav-bar-icon.page-scroll
              %a.hash{:href => "#about"}
                -# %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}
                %span.nav-text-link
                  About
            %li.nav-bar-icon.page-scroll
              %a.hash{:href => "#portfolio"}
                -# %span.glyphicon.glyphicon-book{"aria-hidden" => "true"}
                %span.nav-text-link
                  Portfolio
            -# %li
            -#   %a.hash{:href => "#articlest"}
            -#     %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}
            -#     .nav-text-link
            -#     Articles
            %li.nav-bar-icon.page-scroll
              %a.hash{:href => "#contact"}
                -# %span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
                %span.nav-text-link
                  Contact
    .container-fluid
      - flash.each do |name, msg|
        = content_tag :div, class: "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do
          %button.close{type: "button", data: {dismiss: "alert"} }
            %span{aria: {hidden: "true"} } &times;
            %span.sr-only Close
          = msg
      = yield
